@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Moul&family=Poppins:wght@500;600;700&family=Roboto:wght@100;300;700&display=swap');
body{
   margin: 0;
}
.header{
   width: 100%;
   color: red;
   box-sizing: border-box;
}
.menu{
   width: 100%;
   background-color: red;
   overflow: hidden;
   text-align: center;
}
.menu ul{
   list-style-type: none;
   overflow: hidden;
   text-align: center;
}
.menu ul li{
   display: inline-block;
}
.menu ul li a{
   text-decoration: none;
   display: block;
   padding: 2px 15px;
   font-family: 'Moul', serif;
   color: rgb(172, 175, 175);
}
.menu ul :hover{
   color: white;
}